@{
    Layout = null;
}
<div class="col-md-2">
    <ul style="margin-top:20px">
        <li>@Html.ActionLink("Describe image", "Index", "Describe")</li>
        <li>@Html.ActionLink("Recognize text", "Index", "Text")</li>
        <li>@Html.ActionLink("Recognize handwriting", "Index", "Handwriting")</li>
    </ul>
</div>
