@model string

<div class="row">
    @Html.Partial("_FacesMenu");
    <div class="col-md-8">
        <h2>@ViewBag.Title</h2>

        @Html.Partial("_Upload")

        @if (Model != null)
        {
            <img src="@Model" width="600" />
        }
    </div>
</div>