@{ 
    Layout = null;
}
<div class="col-md-2">
    <ul style="margin-top:20px">
        <li>@Html.ActionLink("Detect faces", "DetectFaces", "Faces")</li>
        <li>Person groups</li>
    </ul>   
</div>