@model string
@{
    ViewBag.Title = "DetectFace";
}

<h2>DetectFace</h2>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="ImageToAnalyze" /><button type="submit">Send</button>
</form>

@if(Model != null)
{
    <img src="@Model" />
}